/* CATEGORY AND SEARCHING SECTION */
#categories .category__cards-container, #searching .searching__cards-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    justify-content: center;
    gap: 16px;
    height: auto;
    overflow: none;
    
}
/* NAV BAR */
#header-navbar{
    background: var(--menu-mobile-background);
    box-shadow: 0px 8px 4px #000000;
}
.navbarSupported{ 
    border: none;
    border-radius: none;
    background: none;
    box-shadow: none;
}
/* DETAIL SECTION */
#movie-detail__container img{
    object-position: center;
}
/* RELATED MOVIES */
#movie-detail #related-movies{
    height: 270px;
    
}
@media(min-width:1028px){
    #movie-detail__dark-layer{
        height: 55%;           
    }
}