/* NAV BAR */
#header-navbar{
    background: var(--menu-mobile-background);
    box-shadow: 0px 8px 4px #000000;
}
.navbarSupported{ 
    border: none;
    border-radius: none;
    background: none;
    box-shadow: none;
}
/* DETAIL SECTION */
#movie-detail__container #movie-detail__category-container img{
    object-position: center;
}
@media(min-width:1028px){
    #movie-detail__dark-layer{
        height: 55%;           
    }
}