:root{
    /* background */
    --background-bars:rgba(167, 49, 49, 0.92);
    --Background:linear-gradient(359.54deg, rgba(0, 0, 0, 0.94) 8.17%, rgba(0, 0, 0, 0.893) 45.74%, rgba(1, 1, 1, 0.846) 71.8%);
    --menu-mobile-background:  linear-gradient(180deg, rgba(182, 43, 43, 0.82) 0%, rgba(244, 8, 8, 0.88) 279.41%);
    --mobile-search-input: rgba(160, 65, 65, 0.74); 
    /* fonts*/
    --text24:2.4rem;
    --text18:1.8rem;
    --text16:1.6rem;
    --text14:1.4rem;
    /* Text Color */
    --title:-webkit-linear-gradient(180deg, #C72B2B 0%, rgba(244, 8, 8, 0.33) 279.41%);
    --subtitle:linear-gradient(180deg, #C72B2B 0%, rgba(244, 8, 8, 0.33) 279.41%);
}
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    
}
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: var(--Background);
}

/*HOME*/
/* main */
main{
    padding-bottom: 48px;
}
/* Serching bar */
.main-search-container form input{
    border: none;
    background: var(--mobile-search-input);  
}
.main-search-container i{
    font-size: 16px;
}
/* Trendings and Popular sections*/
#trending h2, #popular h2{
    font-size: var(--text24);
    font-weight: 700;
    color: var(--subtitle);

    /* Color de fondo */
    background: var(--subtitle);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Bordes al texto */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}
#trending .trending__cards-container, #popular .popular__cards-container{
    height: 220px;
    width: 100%;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x mandatory;
   
}
#trending .trending__cards-container a, #popular .popular__cards-container a{
    min-width:156px;
    height: 168px;
    border-radius: 8px;
    background: url("../Assets/Kimetsu_no_Yaiba.png");
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: center;
    filter: drop-shadow(4px 4px 5px #090707);
    transition: all;
    transition-duration: 0.5s; 
}
#trending .trending__cards-container a:hover, #popular .popular__cards-container a:hover{
    cursor: pointer; 
    transform: translateY(-5px);
}
.trending__cards-container--sidebar::-webkit-scrollbar{
    -webkit-appearance: none;
}
.popular__cards-container--sidebar::-webkit-scrollbar{
    -webkit-appearance: none;
}
#mobile-tag-bar{
    height: 48px;
    background: var(--background-bars);
}
#mobile-tag-bar i{
   font-size: var(--text24);
}


