/* NAVIGATION BAR */
header{
    height: 52px;
}
#header-navbar{
   /*  height: 52px; */
    z-index: 2;
    background: var(--background-bars);
}
#header-navbar button{
    margin: 8px 0 8px 16px;
}
/* Mobile button */
.custom-toggler.navbar-toggler{
    border-color: black;
}
.navbar-toggler-icon{
    font-size: 16px;
    /* background-image: url("./Assets/Hamburguer\ icon.svg"); */
}
/* app title */
#nav-title{
    margin: 8px 0;
    padding: 0 16px 0 16px;
    font-size: 2.2rem;
    font-weight: 600;
    color: red;
    /* Color de fondo */
    background: var(--title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Bordes al texto */
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
} 
hr{
    border: black;
}
#nav-container{
    box-shadow: 0px 8px 4px #000000;
}
.navbarSupported{
    padding: 0 16px 0 16px;
    border: 1px solid black;
    border-radius: 0 0 12px 12px;
    background: linear-gradient(180deg, rgba(172, 41, 41, 0.60) 0%, rgba(156, 16, 16, 0.65) 279.41%);
    box-shadow: 0px 8px 4px #000000;
    
}
.navbarSupported p{
    font-size: var(--text26);
    font-weight: 700;
    color: #EC3232;
    /* color: rgb(151, 146, 146); */
    /* Bordes al texto */
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
}
#header-navbar .form-control{
    height: 5px;
}
.nav-item h3, .nav-item a{
   
    font-size: var(--text16);
    font-weight: 600;
    color: White;
    /* Bordes al texto */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.nav-item h3:hover, .nav-item a:hover{
    cursor: pointer;
}

.nav-item span{
    font-size: var(--text16);
    font-weight: 600;
    color: White;
    /* Bordes al texto */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    transform: color;
    transition: all 200ms;
}
.nav-item span:hover{
   color: black;
   cursor: pointer;
}
.nav-item a i, .nav-item h3 i{
    padding-right: 4px;
    font-size: 8px;
}
#category-desktop-menu{
    background: var(--background-bars);
}
#dropdown-items-container{
    height: 400px;
    width: 350px;
}
#dropdown-items-container li{
    width: 50%;
    font-size: var(--text16);
    font-weight: 600;
    color: White;
    /* Bordes al texto */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
#dropdown-mobile-items{
    height: 400px;
}
#dropdown-mobile-items li{
    width: 50%;
}
